<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHomeKitUsageDescription</key>
	<string>WetBulbCast reads your indoor temperature and humidity sensors to learn how outdoor weather affects your home and to estimate evaporative-cooler comfort.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>robotex.weather-wetbulb.indoorSample</string>
	</array>
</dict>
</plist>
